@use '../partials/variables.scss' as *;

@media screen and (max-width:524px){
  .first-art.article{
    .jumbo-article-preview.dc-small-cont{
      &>h2[data-v-6f625875]{
      font-size:1.5rem;
    }
  
  }
}
}

@media screen and (max-width:576px){
  .dc-big-cont.foodie-journal[data-v-6f625875]{
    position:relative;
    top:-88px;
    margin:0;
    width:100%;
    .container-fluid.text-center{
      h3::before, h3::after{
        min-width:20%;
      }
      .row{
        display:flex;
        flex-direction:column;
        padding:0rem 1.2rem;
        .col-sm-12{
          margin-bottom:1.2rem;
        }
      }

    }
  }
  section.pop-recipes{
    position: relative;
    top: -55px;
    .custom-cont[data-v-e56908e2] {
      width: 64%;
    }
    .dc-big-cont{
      .row.pop-recs-row{
        flex-direction:column;
        .col-sm-12.left{
          background-color:white;
          padding:0;
          .dc-recipe-body{
            padding:1rem 1.8rem;
            h3{
              margin-top:0.8rem;
            }
            p:first-of-type{
              font-size:90%;
              line-height:1rem;
              font-weight:300;
              color:$primary-lightgrey;
            }
          }
        }
        .col-sm-12.right{
          padding:1.5rem 1rem;
          justify-content:space-between;
          .thumb-recipe.clickable{
            width:175px;
            height:115px;
            margin:8px auto;
            img{
              object-fit: cover;
              height:100%;
              width:100%;
            }
          }
        }
      }
    }
  }
  
  section.culinary-coll{
    position: relative;
    top: -55px;
    .custom-cont[data-v-e56908e2] {
      width: 64%;
    }
    .dc-big-cont.icons{
      padding:0 1rem;
      .dc-icon{
        width:45%;
        margin:10px auto;
      }
    }
  }

  section.farm-to-table{
    position: relative;
    top: -55px;
    .dc-big-cont{
      .custom-cont.col-12{
        text-align:center;
        margin:0 auto;
        padding:0;
        width: 64%;
      }
      a.orange-btn{
        margin:0 auto 3rem;

      }
      .row.articles-row{
        .col-sm-8.col-12.articles{
          padding:0;
          .main-article{
            padding:0;
            .dc-art-body{
              padding:1.8rem;
            }
          }
          .thumb-blog{
            .thumb-art{
              width:100%;
              margin-bottom:0;
              .art-body{
              padding:1rem 1.8rem;
              }
            }
          }
        }
        aside.miscellanea{
          margin-top:1.2rem;
          padding:0;
          .singapore{
            margin:1.2rem 0;
            span::after{
              display:none;
            }
          }
          .search{
            width:84%;
            margin:2.5rem auto 0;
          }
          .follow-us{
            text-align:center;
            .socials{
              padding:0 1.8rem;
              justify-content:space-between;
            }
          }
          .recent-posts, .tweets{
            display:none;
          }
        }
    }
    }
  }

  section.cta{
    position:relative;
    top:-59px;
    padding:1.2rem 1.8rem 0;
    div.mb-5{
      display:flex;
      flex-direction: column;
      width:100%;
      input{
        width:90%;
        margin:0 auto;
      }
      button{
        width:90%;
        margin:.8rem auto;
      }
    }
  }
  section.photos{
   display:none;
  }
  footer{
    position:relative;
    // top:-250px;
    .row{
      flex-direction:column;
      .col-12:first-of-type{
        .social{
          display:none;
        }
      }
      .col-12:nth-child(2){
        ul{
          text-align: center;
          li{
            font-size:110%;
          }
        }
      }
      h6{
        font-weight:600;
        text-align:center;
        margin-top:1.2rem;
        font-size:120%;
      }
      .col-12:nth-child(3){
        padding:0 1.8rem;
      }
      .col-12:nth-child(4){
        img{
          margin:18px auto;
        }
      }
    }
  } 
}

@media only screen and (min-width: 525px) and (max-width: 671px) {
	.dc-bg-jumbo-slider{
    .big-image-article.d-lg-none{
      .jumbo-article-preview.dc-small-cont[data-v-6f625875]{
        padding:1rem 2rem;
        h2{
          font-size:2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  // jumbotron
	.dc-big-cont.foodie-journal.px-0.py-4{
    .col-md-4.col-sm-12.dc-article-thumb{
      height: 90%;
      margin-bottom:1rem;
      .thumb-head{
        height:65%;
      }
      .thumb-body{
        height:35%;
      }
    }
  }
  // main
  .row.row.pop-recs-row{
        flex-direction:column;
        .col-sm-12.left{
          background-color:white;
          padding:0;
          .dc-recipe-body{
            padding:1rem 1.8rem;
            h3{
              margin-top:0.8rem;
            }
            p:first-of-type{
              font-size:90%;
              line-height:1rem;
              font-weight:300;
              color:$primary-lightgrey;
            }
          }
        }
        .col-sm-12.right{
          padding:1.5rem 1rem;
          justify-content:space-between;
          .thumb-recipe.clickable{
            width:22%;
            margin:8px auto;
            img{
              object-fit: cover;
              height:100%;
              width:100%;
            }
          }
        }
      }

  .row.articles-row{
    .thumb-blog{
      .thumb-art{
        .art-body{
          padding:1.2rem 1rem;
          &>p{
            color:$primary-lightgrey;
            font-weight:300;
          }
        }
      }
    }
    .read-more.orangy{
      margin-bottom:1.8rem;
    }
    aside.miscellanea.row{
      flex-direction: row;
      .ad-bg.clickable{
        width:49%;
      }
      .singapore{
        width:49%;
        img{
          height:90%;
        }
        span.black{
        left: 12px;
        bottom: 12rem;}
        span.orange::after{
          display:none;
        }
      }
      .search{
        padding:2rem;
      }
      .follow-us, .recent-posts, .tweets{
        display:none;
      }
    }
  }
  section.cta{
    p{
      padding: 1rem 5rem;
    }
    div>input[data-v-6704560a]{
      width:55%;
    }
  }
  footer{
  .col-12:first-of-type{
    padding-bottom:1.2rem;
    .footer-logo{
      width:70%;
    }
  }
  .col-12:nth-child(3), .col-12:nth-child(4){
    margin-top:1.2rem;
    h6{
      font-weight:bold;
    }
  }
  .col-12:nth-child(4) img{
    width:70%;
    margin:0.5rem;
  }
    
  }
    
  }


@media screen and (min-width:768px){
  section.pop-recipes{
    .col-md-6.col-sm-12.left{
      .dc-recipe-body{
        background-color: white;
        padding:1rem;
        p:first-of-type{
          color:$primary-lightgrey;
          line-height:1rem;
          font-weight:300;
        }
      }
    }
    .dc-recs-miniatures{
      justify-content: space-between;
      .thumb-recipe.clickable{
        width:50%;
        height:25%;
        padding:.5rem;
        img{
          object-fit: cover;
          height:100%;
          width:100%;
        }
      }
    }
  }

  section.farm-to-table{
    .thumb-blog{
      .art-body{
        padding:1.5rem 1rem;
        p{
          color:$primary-lightgrey;
          font-weight: 300;
          line-height: 1.2rem;
          font-size:90%;
        }
      }
    }
    aside{
      &>*{
        padding:0;
      }
      .ad-bg.clickable{
        width:100%;
        margin:0 0 1.2rem;
      }
      .singapore{
        span.black{
          font-size:90%;
          
        }
      }
    }
  }

  footer{
    .social{
      display:flex;
      margin-bottom:2rem;
    }
  }
}





@media screen and (max-width:992px){
  div.dc-big-cont{
    margin:0 auto;
    width:92%;
    padding:0;
  }
  
  div.dc-small-cont{
    margin:0 auto;
    width:72%;
    padding:0;
  }

  header[data-v-48a13218]{
    height:160px;
  }


}

@media screen and (max-width:445px){
  .dc-bg-jumbo-slider .article .jumbo-article-preview[data-v-6f625875]{
    padding:1rem 1.8rem;
  }
}
