@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/vidaloka/400.css';
@import 'node_modules/@fontsource/catamaran/300.css';
@import 'node_modules/@fontsource/catamaran/400.css';
@import 'node_modules/@fontsource/catamaran/500.css';
@import 'node_modules/@fontsource/catamaran/600.css';



*{
  margin:0;
  padding:0;
  box-sizing: border-box !important;
}

body{
  background-color: rgb(242,243,237) !important;
  width:100vw;
}

img{
  max-width:100%;
}

h1, h2, h3, h4, h5{
  font-family: "Vidaloka", serif;
}

p, span, a, h6{
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
  letter-spacing: 0.07rem;
}

ul{
  list-style:none;
  padding:0;
}

a{
  text-decoration: none;
  &:hover{
    cursor:pointer;
  }
}

.dc-big-cont{
  margin:0 auto;
  width:62%;
}

.dc-small-cont{
  margin:0 auto;
  width:40%;
}


.form-control:focus {
  color: #39393a;
  background-color: #fff;
  border-color: #fc7523;
  outline: 0;
  box-shadow: 0 0 0.25rem 0.25rem #f4762893;
}

div.swiper-button-next{
  right:20px !important;
}


