@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/vidaloka/400.css';
@import 'node_modules/@fontsource/catamaran/300.css';
@import 'node_modules/@fontsource/catamaran/400.css';
@import 'node_modules/@fontsource/catamaran/500.css';
@import 'node_modules/@fontsource/catamaran/600.css';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

// body{
//   // background-color: &primary-softwhite;
// }

h1, h2, h3, h4, h5, h6{
  font-family: "Vidaloka", serif;
}

p, span, a{
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
}

ul{
  list-style:none;
  padding:0;
}

a{
  text-decoration: none;
  &:hover{
    cursor:pointer;
  }
}

.dc-big-cont{
  margin:0 auto;
  padding:40px;
  width:62%;
}

.dc-small-cont{
  margin:0 auto;
  width:40%;
}
